<div class="show-article-page col-sm-10 col-sm-offset-1 container-fluid">

  <% if signed_in? && current_user.admin? %>
    <%= link_to 'Edit article', edit_article_path(@article), :class => "btn btn-warning" %>
    <%= link_to 'Delete article', @article, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
  <% end %>
  <%= link_to 'Back to All articles', articles_path, :class => "btn btn-primary back-to-all-btn" %>

  <div class="show-article col-sm-10 col-sm-offset-1">
    <h3 class="article-title"> <%= @article.title %> </h3>
    <p class="date-posted"> <%= @article.created_at %> </p>
    <p class="article-body"> <%= @article.body.html_safe %> </p>

    <%= render 'new_comment' %>

    <%= render 'comments' %>

  </div> <!-- end show-article-page -->

</div>
